
body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather',serif;
  color: #40514E;

}
h1{
  color:#F6D7A7;
  margin-top: 0;
  font-family: 'sacramento',cursive;
  font-size: 562%;
  font-weight: lighter;

}
h2{
  color:#F4EO6D;
  font-family: 'Montserrat',sans-serif;
  font-size: 40px;
  font-weight: lighter;
}
h3{
  color:#FFC3C3;
font-family: 'Montserrat',sans-serif;
font-weight: lighter;
font-size: 30px;
}
p{
  font-size: 20px;
  font-weight: lighter;

}
.top{
  background-color: #66BFBF;
  position: relative;
  padding-top: 200px;


}
.skill-row{
  width:50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.middle{
  background-color: white;


}

.bottom{
  background-color: #66BFBF;
  padding:50px 0 20px;
}

.Contact{
  background-color: White;
}
.bottom-cloud{
  position:relative;
  margin-bottom: 200px;
  margin-left: 2px;
}

.top-cloud{
  position: absolute;
  right: 200px;
  top:50px;
}

.g{
  border-radius:20%;
  width:200px;
  height:200px;
  float: left;
  margin-right: 30px;
}
.g1{
  border-radius:20%;
  width:200px;
  height:200px;
  float: right;
  margin-left: 30px;
}
.gu{
  border-radius:20%;
  width:200px;
  height:200px;
  margin-top: 50px;

}
.zaib{
  line-height: 2;
}
hr{
  border: dotted;
  border-color: EAF6F6;
  border-width: 6px;
  border-bottom: 0;
  width:4%;

.dev{
  width:40%;
  margin: 40px auto 60px;
}
a{
  color: #11999E;
  font-family: 'Montserrat',sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
